.footer{
  height: 150px;
  color: aliceblue;
  background-color: #1f1f1f;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  padding: 5% 0 0 0;
}

.footer a{
  font-weight: 100;
  text-decoration: none;
  color:aqua;
}


